<!DOCTYPE html>
<html>
<head>
	<% include ../partial/head %>
</head>
<body id="container">
	<% include ../partial/header %>
	<div class="container">
		<% posts.forEach(function(post) { %>
			<div id="jumbo" class="jumbotron">
				<div class="row">
					<div class="col-md-3">
						<center><img class="img img-circle" src="<%= post.img %>"/></center>
					</div>
					<div class="col-md-8">
						<legend class="title text-center"><%= post.title %></legend>
						<p class="article"><%= post.article %></p>
						<ul>
						<% if(post.keywords.length) { %>
							<% post.keywords.forEach(function(keyword) { %>
								<li><a href="index/<%=keyword%>"><%= keyword %></a></li>
							<% }) %>
							<% } %>
						</ul>
					</div>
				</div>
			</div>
		<% }) %>
	</div>
	<% include ../partial/footer %>
</body>
</html>